<div class="loading" *ngIf="loadingGame">
    <h6>Loading game...</h6>
</div>

<mat-card  *ngIf="!loadingGame">
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <h2>New Game Setup</h2>

            <h4>Select number of players</h4>
            <mat-form-field>
                <mat-label>Number of players</mat-label>
                <mat-select formControlName="playersNum" required>
                    <mat-option [value]="1">1</mat-option>
                    <mat-option [value]="2">2</mat-option>
                    <mat-option [value]="3">3</mat-option>
                    <mat-option [value]="4">4</mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('playersNum')?.hasError('required')">
                    Number of players is required
                </mat-error>
            </mat-form-field>

            <div formArrayName="players" *ngFor="let player of players.controls; let i = index">
                <mat-form-field *ngIf="i > 0">
                    <mat-label>Player {{ i + 1 }}</mat-label>
                    <mat-select [formControlName]="i" required>
                        <mat-option *ngFor="let user of allUsers$ | async" 
                                    [value]="user.username" 
                                    [disabled]="form.get('players')?.value.includes(user.username) && form.get('players')?.value[i] !== user.username"
                            >{{ user.username }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="players.controls[i].hasError('required')">
                        Player {{ i + 1 }} is required
                    </mat-error>
                </mat-form-field>
            </div>

            <h4>Select number of matches</h4>
            <mat-form-field>
                <mat-label>Number of matches</mat-label>
                <mat-select formControlName="matchesNum" required>
                    <mat-option *ngFor="let number of numbers" [value]="number">{{ number }}</mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('matchesNum')?.hasError('required')">
                    Number of matches is required
                </mat-error>
            </mat-form-field>

            <h4>Select card set</h4>
            <mat-form-field>
                <mat-label>Card Set</mat-label>
                <mat-select formControlName="cardSet" required>
                    <div *ngIf="allCardSets$ | async as allCardSets">
                        <mat-optgroup *ngFor="let setSeries of allCardSets" [label]="setSeries.series">
                            <mat-option *ngFor="let set of setSeries.sets" [value]="set.id">{{ set.name }}</mat-option>
                        </mat-optgroup>
                    </div>
                </mat-select>
                <mat-error *ngIf="form.get('cardSet')?.hasError('required')">
                    Card set is required
                </mat-error>
            </mat-form-field>
            
            <br>
            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Start new game</button>
        </form>
    </mat-card-content>
</mat-card>
