mat-toolbar {
    height: 10%;
}

mat-sidenav-container {
    height: 90%;
}

mat-sidenav {
    border-radius: 0;
    width: 60%;
}

mat-slide-toggle {
    padding: 20px;
}

.title {
    flex-grow: 1;
    text-align: center;
    padding-right: 40px;
}

.sidenav-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80%;
}

.login-required-message {
    padding-top: 10px;
    display: inline-block;
    width: 100%;
    text-align: center;
}