<div class="page-container">
    <div class="loading" *ngIf="loadingGame">
        <h6>Loading game...</h6>
    </div>

    <div class="game-container" *ngIf="!loadingGame && !gameFinished">
        <div class="players">
            <mat-card *ngFor="let player of players; let i = index" class="player-card" [class.turn]="isPlayerTurn(player.uid)">
                <mat-card-header>
                    <mat-card-title>{{ player.username }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>Points: {{ player.points }}</p>
                    <p *ngIf="isPlayerTurn(player.uid)">It's your turn!</p>
                </mat-card-content>
            </mat-card>
        </div>
    
        <div class="game-area">
            <div class="card-grid">
                <div class="card" *ngFor="let card of cards; let i = index" (click)="revealCard(cards.at(i))">
                    <mat-card *ngIf="!card.revealed">
                        <mat-card-content class="card-content">
                            <img [src]="card.images.setLogo" alt="Set Logo Image" />
                        </mat-card-content>
                    </mat-card>
                    <mat-card *ngIf="card.revealed">
                        <mat-card-content class="card-content">
                            <img [src]="card.images.small" alt="Card Image" />
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    
        <div class="game-info">
            <mat-card class="round-info">
                <mat-card-title>Round: {{ currentGame$.round }}</mat-card-title>
            </mat-card>
            <mat-card class="matches-info">
                <mat-card-title>Matches Left: {{ currentGame$.matchesRemaining }}</mat-card-title>
            </mat-card>
        </div>
    </div>

    <div class="podium" *ngIf="gameFinished">
        <mat-card *ngFor="let player of players; let i = index" class="podium-card" [class.winner]="player.place === 1" [class.second]="player.place === 2">
            <mat-card-header>
                <mat-card-title *ngIf="player.place === 1">1st Place Winner!</mat-card-title>
                <mat-card-title *ngIf="player.place === 2">2nd</mat-card-title>
                <mat-card-title *ngIf="player.place === 3">3rd</mat-card-title>
                <mat-card-title *ngIf="player.place === 4">4th</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <h1>{{ player.username }}</h1>
                <p>Points: {{ player.points }}</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>