.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82vh;
    width: 100vw;
}

.game-container {
    display: flex;
    flex-direction: column;
    height: 82vh;
    width: 100vw;
}
  
.players {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.player-card {
    width: 135px;
    height: 9vh;
    align-items: center;
}

mat-card-header {
    padding: 4px;
}

.turn {
    color: red;
}
  
.game-area {
    text-align: center;
    height: 70vh;
    padding: 24px;
    padding-top: 30px;
}
  
.card-grid {
    display: grid;
    grid-template-columns: repeat(8, minmax(144px, 1fr));
    gap: 45px;
    justify-items: center;
}
  
.card {
    width: 144px;
    height: 198px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.game-info {
    display: flex;
    gap: 20px;
    justify-content: center;
}
  
.round-info, .matches-info {
    padding: 16px;
    text-align: center;
}

img {
    width: 144px;
}

.card-content {
    width: 144px;
    height: 198px;
    display: flex;
    align-items: center;
}